<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>edenceHealth Nov-2023 Infra</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<!--
HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file://
-->
<!--[if lt IE 9]>
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
<![endif]-->
</head>
<body>


<div class="container-fluid">


<div class="row jumbotron">
    <div class="col-sm-12">
        <img class="img" style="height: auto;" src="/static/img/logo.png"> <!-- height changed to auto -->

        <p style="font-size: 1.5em;">
            <strong>{{when}} Tech Challenge</strong>
        </p>
    </div>
</div>


<div class="row">
    <div class="col-sm-6" id="job_description">
        <h3>The job description goes here.</h3> <!--Bug Fix 2-->
    </div>

<!--Fixing Bug 3, the element id should be in sync with the id mentioned in the html class
    <div class="col-sm-6" id="puppies">-->
    <div class="col-sm-6" id="thepuppies">
        <h4>The Random Puppy Pictures</h4>
    </div>
</div>

<footer class="footer">
    <p>Good luck!</p>
</footer>

</div> <!-- /container -->


<!-- JS & document conclusion -->
<script src="/static/js/main.js"></script>

</body>
</html>